In [2]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
jobs = pd.read_csv('internship companies.csv')

In [4]:
jobs

,Unnamed: 0,company,internship,location,start date,duration,stipend,posted on,apply by
0,0,Internshala,Web Development,Gurgaon,Immediately,6 Months,20000 /month,29 Feb'20,18 Apr'20
1,1,Delhi Technological University - Karyon,Campus Ambassador,Work From Home,Immediately,1 Month,Performance Based,18 Feb'20,19 Apr'20
2,2,Internshala,Operations,Gurgaon,15 Apr'20,6 Months,20000 /month,18 Mar'20,29 Apr'20
3,3,Your Digital Boat,Content Writing,Work From Home,Immediately,2 Months,5000 /month,10 Apr'20,8 May'20
4,4,American Institute Of Big Data Professionals,Web Development,Work From Home,Immediately,1 Month,2000-5000 /month,10 Apr'20,8 May'20
...,...,...,...,...,...,...,...,...,...
11996,11996,DBuzzz,Business Development (Sales),Lucknow,Immediately,2 Months,5000 /month,20 Feb'20,14 Apr'20
11997,11997,DataSmart eServices Private Limited,MEAN Stack Development,Hyderabad,Immediately,4 Months,7000-10000 /month,20 Feb'20,10 Apr'20
11998,11998,Study Sure,Content Writing,Work From Home,Immediately,3 Months,8000-15000 /month,20 Feb'20,10 Apr'20
11999,11999,Zifcare,Psychology,Work From Home,Immediately,3 Months,3000 /month,20 Feb'20,10 Apr'20
12000,12000,HUBX,Full Stack Development,Delhi,Immediately,6 Months,5000-8000 /month,20 Feb'20,10 Apr'20

In [7]:
# company
# internship
# location
# start date
# duration

In [8]:
jobs.isnull().sum()

Unnamed: 0    0
company       0
internship    0
location      0
start date    0
duration      0
stipend       0
posted on     0
apply by      0
dtype: int64

In [6]:
jobs.dropna(inplace=True)

In [7]:
jobs.duplicated().sum()

0

In [9]:
jobs['company'] = jobs['company'].apply(lambda x:x.replace(" ", ""))
jobs['internship'] = jobs['internship'].apply(lambda x:x.replace(" ", ""))
jobs['location'] = jobs['location'].apply(lambda x:x.replace(" ", ""))
jobs['start date'] = jobs['start date'].apply(lambda x:x.replace(" ", ""))
jobs['duration'] = jobs['duration'].apply(lambda x:x.replace(" ", ""))

In [10]:
jobs

,Unnamed: 0,company,internship,location,start date,duration,stipend,posted on,apply by
0,0,Internshala,WebDevelopment,Gurgaon,Immediately,6Months,20000 /month,29 Feb'20,18 Apr'20
1,1,DelhiTechnologicalUniversity-Karyon,CampusAmbassador,WorkFromHome,Immediately,1Month,Performance Based,18 Feb'20,19 Apr'20
2,2,Internshala,Operations,Gurgaon,15Apr'20,6Months,20000 /month,18 Mar'20,29 Apr'20
3,3,YourDigitalBoat,ContentWriting,WorkFromHome,Immediately,2Months,5000 /month,10 Apr'20,8 May'20
4,4,AmericanInstituteOfBigDataProfessionals,WebDevelopment,WorkFromHome,Immediately,1Month,2000-5000 /month,10 Apr'20,8 May'20
...,...,...,...,...,...,...,...,...,...
11996,11996,DBuzzz,BusinessDevelopment(Sales),Lucknow,Immediately,2Months,5000 /month,20 Feb'20,14 Apr'20
11997,11997,DataSmarteServicesPrivateLimited,MEANStackDevelopment,Hyderabad,Immediately,4Months,7000-10000 /month,20 Feb'20,10 Apr'20
11998,11998,StudySure,ContentWriting,WorkFromHome,Immediately,3Months,8000-15000 /month,20 Feb'20,10 Apr'20
11999,11999,Zifcare,Psychology,WorkFromHome,Immediately,3Months,3000 /month,20 Feb'20,10 Apr'20
12000,12000,HUBX,FullStackDevelopment,Delhi,Immediately,6Months,5000-8000 /month,20 Feb'20,10 Apr'20

In [11]:
jobs['tags'] = jobs['company'] + " " + jobs['internship'] + " " + jobs['location'] + " " + jobs['start date'] + " " + jobs['duration']

In [12]:
jobs

,Unnamed: 0,company,internship,location,start date,duration,stipend,posted on,apply by,tags
0,0,Internshala,WebDevelopment,Gurgaon,Immediately,6Months,20000 /month,29 Feb'20,18 Apr'20,Internshala WebDevelopment Gurgaon Immediately...
1,1,DelhiTechnologicalUniversity-Karyon,CampusAmbassador,WorkFromHome,Immediately,1Month,Performance Based,18 Feb'20,19 Apr'20,DelhiTechnologicalUniversity-Karyon CampusAmba...
2,2,Internshala,Operations,Gurgaon,15Apr'20,6Months,20000 /month,18 Mar'20,29 Apr'20,Internshala Operations Gurgaon 15Apr'20 6Months
3,3,YourDigitalBoat,ContentWriting,WorkFromHome,Immediately,2Months,5000 /month,10 Apr'20,8 May'20,YourDigitalBoat ContentWriting WorkFromHome Im...
4,4,AmericanInstituteOfBigDataProfessionals,WebDevelopment,WorkFromHome,Immediately,1Month,2000-5000 /month,10 Apr'20,8 May'20,AmericanInstituteOfBigDataProfessionals WebDev...
...,...,...,...,...,...,...,...,...,...,...
11996,11996,DBuzzz,BusinessDevelopment(Sales),Lucknow,Immediately,2Months,5000 /month,20 Feb'20,14 Apr'20,DBuzzz BusinessDevelopment(Sales) Lucknow Imme...
11997,11997,DataSmarteServicesPrivateLimited,MEANStackDevelopment,Hyderabad,Immediately,4Months,7000-10000 /month,20 Feb'20,10 Apr'20,DataSmarteServicesPrivateLimited MEANStackDeve...
11998,11998,StudySure,ContentWriting,WorkFromHome,Immediately,3Months,8000-15000 /month,20 Feb'20,10 Apr'20,StudySure ContentWriting WorkFromHome Immediat...
11999,11999,Zifcare,Psychology,WorkFromHome,Immediately,3Months,3000 /month,20 Feb'20,10 Apr'20,Zifcare Psychology WorkFromHome Immediately 3M...
12000,12000,HUBX,FullStackDevelopment,Delhi,Immediately,6Months,5000-8000 /month,20 Feb'20,10 Apr'20,HUBX FullStackDevelopment Delhi Immediately 6M...

In [13]:
jobs['tags'] = jobs['tags'].apply(lambda x:x.lower())

In [14]:
jobs

,Unnamed: 0,company,internship,location,start date,duration,stipend,posted on,apply by,tags
0,0,Internshala,WebDevelopment,Gurgaon,Immediately,6Months,20000 /month,29 Feb'20,18 Apr'20,internshala webdevelopment gurgaon immediately...
1,1,DelhiTechnologicalUniversity-Karyon,CampusAmbassador,WorkFromHome,Immediately,1Month,Performance Based,18 Feb'20,19 Apr'20,delhitechnologicaluniversity-karyon campusamba...
2,2,Internshala,Operations,Gurgaon,15Apr'20,6Months,20000 /month,18 Mar'20,29 Apr'20,internshala operations gurgaon 15apr'20 6months
3,3,YourDigitalBoat,ContentWriting,WorkFromHome,Immediately,2Months,5000 /month,10 Apr'20,8 May'20,yourdigitalboat contentwriting workfromhome im...
4,4,AmericanInstituteOfBigDataProfessionals,WebDevelopment,WorkFromHome,Immediately,1Month,2000-5000 /month,10 Apr'20,8 May'20,americaninstituteofbigdataprofessionals webdev...
...,...,...,...,...,...,...,...,...,...,...
11996,11996,DBuzzz,BusinessDevelopment(Sales),Lucknow,Immediately,2Months,5000 /month,20 Feb'20,14 Apr'20,dbuzzz businessdevelopment(sales) lucknow imme...
11997,11997,DataSmarteServicesPrivateLimited,MEANStackDevelopment,Hyderabad,Immediately,4Months,7000-10000 /month,20 Feb'20,10 Apr'20,datasmarteservicesprivatelimited meanstackdeve...
11998,11998,StudySure,ContentWriting,WorkFromHome,Immediately,3Months,8000-15000 /month,20 Feb'20,10 Apr'20,studysure contentwriting workfromhome immediat...
11999,11999,Zifcare,Psychology,WorkFromHome,Immediately,3Months,3000 /month,20 Feb'20,10 Apr'20,zifcare psychology workfromhome immediately 3m...
12000,12000,HUBX,FullStackDevelopment,Delhi,Immediately,6Months,5000-8000 /month,20 Feb'20,10 Apr'20,hubx fullstackdevelopment delhi immediately 6m...

In [15]:
cv = CountVectorizer(max_features=100, stop_words='english')

In [16]:
vectors = cv.fit_transform(jobs['tags']).toarray()

In [17]:
cv.get_feature_names()

C:\Users\shiva\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['10jun',
 '1may',
 '1month',
 '20',
 '2months',
 '2weeks',
 '3months',
 '4months',
 '4weeks',
 '5months',
 '6months',
 '6weeks',
 'accounts',
 'ahmedabad',
 'ai',
 'androidappdevelopment',
 'architecture',
 'backenddevelopment',
 'bangalore',
 'bhopal',
 'bhubaneswar',
 'businessdevelopment',
 'ca',
 'campusambassador',
 'challengekatta',
 'chandigarh',
 'charteredaccountancy',
 'chennai',
 'coimbatore',
 'com',
 'contentdevelopment',
 'contentwriting',
 'customerservice',
 'dataentry',
 'datascience',
 'dehradun',
 'delhi',
 'digitalmarketing',
 'editing',
 'faridabad',
 'finance',
 'frontenddevelopment',
 'fullstackdevelopment',
 'ghaziabad',
 'graphicdesign',
 'gurgaon',
 'hr',
 'humanresources',
 'hyderabad',
 'immediately',
 'indore',
 'intellify',
 'interiordesign',
 'internalaudit',
 'iosappdevelopment',
 'jaipur',
 'jsdevelopment',
 'kolkata',
 'law',
 'legal',
 'lucknow',
 'machinelearning',
 'marketing',
 'marketresearch',
 'media',
 'mobileappdevelopment',
 'mohali',
 'mumbai',
 'nagpur',
 'navimumbai',
 'noida',
 'opc',
 'operations',
 'patna',
 'photography',
 'phpdevelopment',
 'pr',
 'privatelimited',
 'protiviti',
 'publicrelations',
 'pune',
 'pythondevelopment',
 'research',
 'sales',
 'searchengineoptimization',
 'seo',
 'socialmediamarketing',
 'softwaredevelopment',
 'softwaretesting',
 'subjectmatterexpert',
 'teaching',
 'telecalling',
 'thane',
 'ui',
 'uxdesign',
 'videoediting',
 'videomaking',
 'webdevelopment',
 'wordpressdevelopment',
 'workfromhome']

In [18]:
vectors

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [19]:
similarity = cosine_similarity(vectors)

In [20]:
similarity.shape

(11997, 11997)

In [21]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[1:11]

[(716, 1.0),
 (1489, 1.0),
 (1613, 1.0),
 (2361, 1.0),
 (2613, 1.0),
 (2653, 1.0),
 (3644, 1.0),
 (4228, 1.0),
 (6026, 1.0),
 (8370, 1.0)]

In [22]:
def recommend(job):
    job_index = jobs[jobs['internship'] == job].index[0]
    distances = similarity[job_index]
    jobs_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:100]
    
    for i in jobs_list:
        print(jobs.iloc[i[0]].internship)

In [26]:
recommend('WebDevelopment')

WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
AdministrationSupport&MISOperations
VisualContentDevelopment
DataAnalytics
DataAnalytics
WebDevelopment
IndustrialAndProductionEngineering
SecretarialAssistance
WebDevelopment
WebDevelopment
DomainContent
EventManagement
WebDevelopment
WebDevelopment
.NETDevelopment
ReactJSDevelopment
CustomerRelationship
WebDevelopment
MedicalBilling
Statistics
Economics
WebDevelopment
DatabaseBuilding
BigData/Hadoop
ProductManagement
Accountant
ResearchAnalysis
Management
HRRecruitment
EmbeddedSystems
Dekstop/LaptopSupport
Administration
WebDevelopment
WebDevelopment
InsideSales
JavaDevelopment
WebDevelopment
ExecutiveAssistance
EmbeddedSystems
.NETDevelopment
HRRecruitment
ITRecruitment
DataAnnotation
WebDevelopment
WebDesign
TalentAcquisition
DatabaseBuilding/Management
DataResearch
ITRecruiter
Recruitment(IT)
WebDevelopment
WebDevelopment
ResearchPsychology
AccountingAndAdministrativeServices
WebDevelopment
AcademicCounseling
WebDevelopment
ComputerVision
WebDevelopment
Unity/GamesDevelopment
WebDevelopment
WebDevelopment
Marketing
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
SocialMediaMarketing
WebDevelopment
SocialMediaMarketing
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment(Angular)
ContentWriting
MobileAppDevelopment
WebDevelopment
WebDevelopment
WebDevelopment
WebDevelopment